ul{
    list-style: none;
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;


}
li {

    margin-top: 0.6rem;
    display: flex;
    margin-bottom: 0.8rem;
    justify-content: space-between;
    background-color: #FFB419;
    width: 90%;
    font-family: 'Monda', sans-serif;
    height: 4.9rem;

    box-shadow: rgb(85, 91, 255) 0px 0px 0px 0.125rem, rgb(31, 193, 27) 0px 0px 0px 0.43rem, rgb(255, 217, 19) 0px 0px 0px 0.43rem, rgb(255, 156, 85) 0px 0px 0px 0.62rem, rgb(255, 85, 85) 0px 0px 0px 0.56rem;
    

}

.time{
    opacity: 0.7;
    font-size: 1rem;
}

li p {
    margin-top: 8px;
}

h3,p{
    margin-left: 1rem;
}

.false {
    text-decoration: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.true{
    text-decoration: line-through;
    opacity: 0.4;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
    transform: translate(15px,2px);
}

.flex {
    display: flex;
    transform: translateY(-0.2.5rem);
}

.flex i {
    font-size: 1rem;
}

.fa-xmark{
    transition: 1s;
    color: rgba(0, 0, 0, 0.492);
    cursor: pointer;
}

.fa-xmark:hover {
    transform: scale(1.2);
}

input {

}

